@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@font-face {
  font-family: soehne-cursive;
  src: url("../fonts/test-soehne-extraleicht-kursiv.woff2") format("woff");
}

:root {
  --menu-width: 37.5em; /* Width of menu */
  --items: 3; /* Number of items you have */
  --item-width: calc(var(--menu-width) / var(--items));
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #102eff, #d2379b);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  font-family: 'Rubik';
  font-weight: normal;
  font-size: 18px;
  overflow: auto;
  /* user-select: none; /* Non-prefixed version, currently */
}

.leave-space-h1 {
  padding-top: 30px;
}
h1 {
  transform: translateY(-140px);
  font-family: soehne-cursive;
  color: #ffffff;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}

.spark-img {
  margin: auto;
  height: 100px;
  width: 100px;
  display: block;
  margin-left: 53.5%;
  margin-right: auto;
  padding-top: 20px;
  transform: rotate(20deg);
}
.center-align {
  margin: auto;
  width: 900px;
  display: flex;
  justify-content: space-around;
}
#nav {
  transform: translateY(-100px);
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
}

#nav:hover {
  color: yellow;
}

#info-box {
  padding-right: 20px;
}

#info-box ul {
  list-style: none;
}
#info-box a {
  color: white;
  text-decoration: none;
  text-align: right;
  padding: 0.5em 0;
  transition: all 0.1s ease-out;
  display: block;
  font-size: 1.25em;
  font-weight: 900;
  letter-spacing: 1px;
}
#info-box a:hover {
  color: rgba(255,255,255,0.5);
}

#feature-box-create-container {
  transform: translateY(-40px);
  border-radius: 10px;
  background: #ffffff;
  width: 100px;
  height: 250px;
  margin: auto;
  width: 50%;
  color: rgb(89 110 123);
  padding: 20px;
  font-size: 20px;
  overflow: auto;
}

#feature-box-list-container {
  transform: translateY(-40px);
  border-radius: 10px;
  background: #ffffff;
  width: 1000px;
  height: 200px;
  margin: auto;
  color: rgb(89 110 123);
  padding: 20px;
  font-size: 20px;
}

.feature-title {
  color: #3a5260;
  font-weight: bold;
}

#leave-space {
  padding-top: 0px;
}

input[type=text] {
  font-size: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 10px;
}

input[type=text]:focus {
  border: 3px solid #555;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #cbc6ca;
  border: 3px;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Rubik';
  cursor: pointer;
  font-size: 18px;
}

/* input[type="file"] { */
  /* display: none; */
/* } */

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

#dropdown {
  visibility: hidden;
}

th, td {
  text-align: left;
  padding: 0 15px;
}

th {
  font-weight: bold;
}

.read-docs {
  height: 100px;
  color: white;
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 300px;
  font-size: 30px;
  cursor: pointer;
}

.read-docs:hover {
  color: yellow;
}