<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spark</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="static/src/index.js"></script>
    <link rel="icon" type="image/png" href="../static/images/flash-dynamic-gradient.png">
    <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="leave-space-h1"></div>
    <img src="../static/images/flash-dynamic-gradient.png" class="spark-img">
    <h1>spark</h1>
    <div class="center-align">
        <button id="nav" onclick="document.location='/'" style="color: yellow;">Create a container</button>
        <button id="nav" onclick="document.location='list.html'">List containers</button>
        <button id="nav" onclick="document.location='config.html'">Custom container</button>
    </div>
    <div id="leave-space"></div>
    <div id="feature-box-create-container">
        <div class="feature-title">Create a container</div>
        <br>
        <form action="/run">
            <label for="image_name">Choose an image name:</label><br>
            <input type="text" id="image_name" name="name"><br>
            <input type="submit">
            <br><br>
            <button type="button" class="feature-title" onclick="dropdown_func();">Advanced options <i
                    class="far fa-chevron-down"></i></button>
            <br>
            <br>
            <div id="dropdown">
                <label for="port">Port:</label><br>
                <input type="text" id="port" name="port"><br>
                <label for="container_name">Container name:</label><br>
                <input type="text" id="container_name" name="container_name"><br>
            </div>
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script>
    document.getElementById("dropdown").style.visibility = "hidden";
    function dropdown_func() {
        if (document.getElementById("dropdown").style.visibility === "hidden") {
            document.getElementById("dropdown").style.visibility = "visible";
            document.getElementById("feature-box-create-container").style.height = "450px";
        } else {
            document.getElementById("dropdown").style.visibility = "hidden";
            document.getElementById("feature-box-create-container").style.height = "250px";
        }
    }
</script>

</html>