<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>spark</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script src="static/src/x-notify.min.js"></script>
  <script src="static/src/index.js"></script>
  <link rel="icon" type="image/png" href="../static/images/flash-dynamic-gradient.png">
  <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="leave-space-h1"></div>
  <img src="../static/images/flash-dynamic-gradient.png" class="spark-img">
  <h1>spark</h1>
  <div class="center-align">
    <button id="nav" onclick="document.location='/'">Create a container</button>
    <button id="nav" onclick="document.location='list.html'">List containers</button>
    <button id="nav" onclick="document.location='config.html'">Custom container</button>
    <button id="nav" onclick="document.location='stats.html'"  style="color: yellow;">Stats</button>
  </div>
  <div id="leave-space"></div>
  <div id="feature-box-list-container" style="height: 100%">
    <div class="feature-title">Container listing</div>
    <br>
    <table id="table_list">
      <tr>
        <th>Id</th>
        <th>Container name</th>
        <th>CPU</th>
        <th>Memory</th>
        <th>Status</th>
      </tr>
    </table>
  </div>
  <a class="" href="https://docs.docker.com/"><div class="far fa-question-circle read-docs"></div></a>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>
  function start_stop(id) {
    const container_classes = document.getElementById(id).classList;
    if (container_classes.contains("fa-pause-circle")) {
      status = stop(id);

    } else {
      var status = start(id);
      container_classes.remove("fa-play-circle");
      container_classes.add("fa-pause-circle");
    }
  }

  function list_call() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var response_json = JSON.parse(xhttp.responseText);
        response_json.forEach(add_row_table);
      }
    };
    xhttp.open("GET", "/stats", true);
    xhttp.send();
  }

  list_call();

  function add_row_table(item) {
    var table_list = document.getElementById("table_list")
    var temp = `
      <tr>
          <td>${item["Id"].slice(0, 5)}</td>
          <td>${item["Name"]}</td>
          <td>${Number(item["CPU"]/item["SystemCPU"]).toFixed(1)}%</td>
          <td>${Number((item["Memory"]/1000000).toFixed(1))}MB</td>`;

    if (item["Memory"] == null) {
      temp += `<td>Stopped</td>`
    }
    else {
      temp += `<td>Running</td>`
    }
    table_list.innerHTML += temp
  }
</script>

</html>